{% extends 'layouts.html' %} {% block content %}
<div class="card">
  <div class="card text-center">
    <h5 class="card-header">Frequently Asked Questions 🤔</h5>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>"The best error message is the one that never shows up."</p>
        <footer class="blockquote-footer">
          <cite title="Source Title">Thomas Fuchs</cite>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Adding Coins to Watch List</h5>
        <p class="card-text">
          For a step by step guide, follow the link below.
        </p>
        <a href="#" class="btn btn-primary">Adding Coins</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Deleting Coins from Watch List</h5>
        <p class="card-text">
          For a step by step guide, follow the link below.
        </p>
        <a href="#" class="btn btn-primary">Deleting Coins</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
