{% extends 'layouts.html' %} {% block content %}
<div class="card">
  <div class="card text-center">
    <h5 class="card-header">Frequently Asked Questions 🤔</h5>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>"The best error message is the one that never shows up."</p>
        <footer class="blockquote-footer">
          <cite title="Source Title">Thomas Fuchs</cite>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Adding Coins to Watch List</h5>
        <p class="card-text">
          For a step by step guide, follow the link below.
        </p>
        <a href="#" class="btn btn-primary">Adding Coins</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Deleting Coins from Watch List</h5>
        <p class="card-text">
          For a step by step guide, follow the link below.
        </p>
        <a href="#" class="btn btn-primary">Deleting Coins</a>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<div class="card">
  <div class="card">
    <h5 class="card-header text-center">Basics of Trading</h5>
    <div class="card-body">
      <p>
        A crypto wallet is a place where you can securely keep your crypto.
        There are many different types of crypto wallets, but the most popular
        ones are hosted wallets, non-custodial wallets, and hardware wallets.
        Which one is right for you depends on what you want to do with your
        crypto and what kind of safety net you want to have.
      </p>
      <h6>Hosted wallets</h6>
      <p>
        The most popular and easy-to-set-up crypto wallet is a hosted wallet.
        When you buy crypto using an app like Coinbase, your crypto is
        automatically held in a hosted wallet. It's called hosted because a
        third party keeps your crypto for you, similar to how a bank keeps your
        money in a checking or savings account. You may have heard of people
        “losing their keys” or “losing their USB wallet” but with a hosted
        wallet you don't have to worry about any of that. The main benefit of
        keeping your crypto in a hosted wallet is if you forget your password,
        you won't lose your crypto. A drawback to a hosted wallet is you can't
        access everything crypto has to offer. However, that may change as
        hosted wallets start to support more features.
      </p>
      <h6>How to set up a hosted wallet:</h6>
      <ul>
        <li>
          Choose a platform you trust. Your main considerations should be
          security, ease of use, and compliance with government and financial
          regulations.
        </li>
        <li>
          Create your account. Enter your personal info and choose a secure
          password. It's also recommended to use 2-step verification (also
          called 2FA) for an extra layer of security.
        </li>
      </ul>
      <p>
        Buy or transfer crypto. Most crypto platforms and exchanges allow you to
        buy crypto using a bank account or credit card. If you already own
        crypto, you can also transfer it to your new hosted wallet for safe
        keeping.
      </p>
    </div>
  </div>
</div>
<br />
<br />
<div class="card">
  <div class="card">
    <h5 class="card-header text-center">Privacy Policy</h5>
    <div class="card-body">
      <h6>
        When you use our services, you're trusting us with your information. We
        understand this is a big responsibility and work hard to protect your
        information and put you in control.
      </h6>
      <p>
        All CryptoTrack products are built with strong security features that
        continuously protect your information. The insights we gain from
        maintaining our services help us detect and automatically block security
        threats from ever reaching you. And if we do detect something risky that
        we think you should know about, we'll notify you and help guide you
        through steps to stay better protected.
      </p>
      <p>
        We work hard to protect you and CryptoTrack from unauthorized access,
        alteration, disclosure, or destruction of information we hold,
        including:
      </p>
      <ul>
        <li>We use encryption to keep your data private while in transit</li>
        <li>
          We offer a range of security features, like Safe Browsing, Security
          Checkup, and 2 Step Verification to help you protect your account
        </li>
        <li>
          We restrict access to personal information to CryptoTrack employees,
          contractors, and agents who need that information in order to process
          it. Anyone with this access is subject to strict contractual
          confidentiality obligations and may be disciplined or terminated if
          they fail to meet these obligations.
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
